@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    height: 90vh;
   
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.active{
    flex: 5;
}

.text{
    margin-top: 515px;
    text-align: center;
    padding: 10px;
    position: absolute;
}

.text h1{
    padding: 10px;
    word-spacing: 5px;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    color: rgb(192, 8, 8);
    
}

@media screen and (max-width:480px){
    .image:nth-child(4), .image:nth-child(5){
        display: none;
    }
    .container{
        width: 100vw;
    }

    .image{
        height: 300px;
    }

}

